:root {
    --cor-destaque: #a7a7a7;
    --cor-caixas: #ffffff;
    --cor-texto: #000000;
    --fonte-principal: "Arimo", sans-serif;
}

body {
    font-family: var(--fonte-principal);
    background-color: var(--cor-destaque);
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.8%;
    background-color: var(--cor-destaque-claro);
}


#menu_aba {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    z-index: 1;
    display: none;
    border-radius: 10px;
  }

#menu_bot {
    position: relative;
    padding: 20px;
    display: "block";
    cursor: pointer;
    font-family: "Arimo", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 14pt;
    color: var(--cor-click);
    transition: 0.5s;
  }


.header {
    display: flex;
    align-items: center; /* Centraliza verticalmente os itens */
    justify-content: space-between; /* Centraliza horizontalmente */
    padding:0.8%;
    background-color: #3D1DDB;
}

.icon1 {
    display: flex;  
    justify-content: flex-start;  /* Alinha todos os itens à esquerda */
    align-items: center;  /* Alinha os itens no centro verticalmente, se necessário */
}


.material-icons-outlined {
    display: flex;
    font-size: 40%;  /* Tamanho do ícone */
    color: var(--cor-destaque);  /* Cor personalizada */
}


.logo {
    display: flex;
    justify-content: center; /* Centraliza o conteúdo horizontalmente */
    align-items: center; /* Centraliza o conteúdo verticalmente */
    width: 20%;
}   

.svg_logo_inatel {
    width: 60%; /* Ajuste conforme necessário */
    height: auto;    
}

.svg_logo_inatel path {
    fill: white; /* Muda a cor das letras para azul */
}



.mensagens {
    padding: 15px;
    background-color: var(--cor-caixas);
    color: var(--cor-texto);
}

.main {
    padding: 1.4%;
}

.aulas {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.disciplina {
    background-color: var(--cor-caixas);
    color: var(--cor-texto);
    padding: 1%;
    border-radius: 1%;
}

.disciplina p {
    margin: 0.4% 0;
}

.noticias {
    padding: 1.4%;
    background-color: var(--cor-caixas);
    color: var(--cor-texto);
}

h3 {
    font-family: "Arimo", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 14px;
    color: var(--cor-text);
    padding-left: 5px;
    padding-right: 5px
  }

p {
    font-family: "Arimo", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 11px;
    color: var(--cor-texto);
    line-height: 1.5;
    orphans: 3;
    padding-left: 5px;
    padding-right: 5px
  }

.carousel-container {
    position: relative;
    overflow: hidden;
    background-color: white;
    border-radius: 10px;
    margin: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1)
  
}

.carousel {
    display: relative; /* mudaremos para flex posteriormente */
}

.card {
    min-width: 100%;
    text-align: center;
}

.card img {
    width: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.info {
    padding: 10px
}

.icon {
    font-size: 15px;
    margin-left: 5px;
    margin-right: 2px;
    width: 18px;
    display: inline-block;
    vertical-align: middle
}

button {
    position: absolute;
    top: 30%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 10px;
}

#prevBtn { left: 10px; }
#nextBtn { right: 10px; }
